@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<form id="form" name="form" action="/uploader" enctype="multipart/form-data" method="post">
    <div class="buttons">
        <div class="upload-button">
            <input id="files" name="files" type="file" size="1"   onchange="uploadFiles('files');" />
        </div>
    </div>
</form>
<div id="progress" class="progress"><div id="bar" class="bar"></div><div id="label" class="label">0%</div></div>


@section scripts{ 
    <script src="/js/linkpreviewgenerator.js"></script>


    <script>

       
        /*
        {
          title: 'Kiteboarding: Stylish Backroll in 4 Sessions - Ride with Blake: Vlog 20',
          description: 'The backroll is a staple in your kiteboarding trick ' +
            'bag. With a few small adjustments, you can really ' +
            'improve your style and make this basic your own. ' +
            'Sessio...',
          domain: 'youtube.com',
          img: 'https://i.ytimg.com/vi/8mqqY2Ji7_g/hqdefault.jpg'
        }


function uploadFiles(inputId) {
  var input = document.getElementById(inputId);
  var files = input.files;
  var formData = new FormData();

  for (var i = 0; i != files.length; i++) {
    formData.append("files", files[i]);
  }

  startUpdatingProgressIndicator();
  $.ajax(
    {
      url: "/uploader",
      data: formData,
      processData: false,
      contentType: false,
      type: "POST",
      success: function (data) {
        stopUpdatingProgressIndicator();
       
      }
    }
  );
}

var intervalId;

function startUpdatingProgressIndicator() {
  $("#progress").show();

  intervalId = setInterval(
    function () {
      // We use the POST requests here to avoid caching problems (we could use the GET requests and disable the cache instead)
      $.post(
        "/uploader/progress",
        function (progress) {
          $("#bar").css({ width: progress + "%" });
          $("#label").html(progress + "%");
        }
      );
    },
    10
  );
}

function stopUpdatingProgressIndicator() {
  clearInterval(intervalId);
}

    </script>
}